@using Epam.FitnessCenter.Entities;
@using Epam.FitnessCenter.Ioc;
@using Epam.FitnessCenter.BLL.Interface;
@using Ninject;

<div class="form-group col-md-3">
    <label for="Description">Title hall</label>
    <input name="nameHall" class="form-control" type="text" value="">
</div>