@using Epam.FitnessCenter.Ioc;
@using Epam.FitnessCenter.Entities;
@using Epam.FitnessCenter.BLL.Interface;
@using Ninject;
@{
    var _lessonLogic = DependenciesResolver.Kernel.Get<ILessonLogic>();

    Layout = "~/Pages/BasePages/_main.cshtml";
    Page.Section = "addLesson";
}

@section addLesson {

    @if (IsPost)
    {

        if (int.TryParse(Request["inputHall"].Split(' ')[0], out int idHall) && int.TryParse(Request["inputUser"].Split(' ')[0], out int idUser) && !Request["dateTime"].IsEmpty() && !Request["description"].IsEmpty())
        {
            var dateTime = Request["dateTime"];
            var date = DateTime.ParseExact($"{dateTime}", "HH:mm MM/dd/yyyy", null);

            _lessonLogic.Add(new Lesson
            {
                IdHall = idHall,
                IdUserCoach = idUser,
                DateTime = date,
                Description = Request["description"]
            }, out ICollection<Error> listError); ;

            if (!listError.Any())
            {
                <div class="alert alert-success" role="alert">
                    Lesson successfully added
                </div>
            }
            else
            {
                <div class="alert alert-danger" role="alert">
                    @foreach (var item in listError)
                    {
                        <span>@item.Message</span>
                    }
                </div>
            }
        }
        else
        {
            <div class="alert alert-danger" role="alert">
                Fill in all the fields
            </div>
        }
    }
}