@using Epam.FitnessCenter.Ioc;
@using Epam.FitnessCenter.BLL.Interface;
@using Ninject;
@using Epam.FitnessCenter.Logger;
@{

    Layout = "BasePages/_main.cshtml";

    var a = DependenciesResolver.Kernel.Get<ILessonLogic>();

    Page.Section = "startPage";

}
@section startPage{
    @if (!Request["SingIn"].IsEmpty())
    {
        <div class="alert alert-success">Welcome to the club buddy @Request["SingIn"]</div>
    }
    <div>Welcome to the club buddy</div>
}